{
  "root": true,
  "parser": "babel-eslint",
  "extends": "eslint:recommended",

  "env": {
    "es6": true
  },

  "ecmaFeatures": {
    "modules": true
  },

  "rules": {
    "no-console": 0
  }
}
