$player-colors: #F15854, #60BD68, #5DA5DA, #FAA43A,
                #4D4D4D, #B276B2, #FAA43A, #F17CB0;

#match {
  @keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  .match-game {
    padding: 8px;
    animation: fadeIn 0.2s ease-in;
  }

  .game-status {
    display: inline;
    margin-left: 1em;
  }

  .win-token {
    display: inline-block;
    border-radius: 50%;
    margin-right: 0.5em;
    vertical-align: middle;
    width: 1em;
    height: 1em;
  }

  .token-right {
    float: right;
    margin-right: 0;
  }

  .player { font-weight: bold; }

  @for $i from 1 through length($player-colors) {
    .player#{$i} { color: nth($player-colors, $i); }
    .player#{$i}-bg { background-color: nth($player-colors, $i); }
  }
}
